# Ignore virtual environment
.venv/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
